/*contact*/
/*@media(max-width: 1024px){

  .contact-content{
    padding-bottom: 0;
  }
}
@media(max-width: 900px){
  .contact{
    height: 95%;
  }
}*/
@media (max-width: 900px) {
  .map {
    width: 450px;
    height: 400px;
    margin:0 50px 20px 0;
 }
 .info-icons {
  margin-left: 40px;
 }
}
@media (max-width: 850px){
  .navigation{
    display: none;
  }
  .profile {
     margin-left: 600px;
  }
  .burger{
    display: block;
  }
  .burger-icon{
    margin-right: 20px;
    float: right;
  }
}
@media (max-width: 700px){
  .profile {
     margin-left: 550px;
  }
}
@media (max-width: 780px){
  .profile {
     margin-left: 500px;
  }
}
@media (max-width: 670px){
  .profile {
     margin-left: 450px;
  }
}
@media (max-width: 780px){
  .profile {
     margin-left: 400px;
  }
}
@media (max-width: 650px){
  .profile {
     margin-left: 350px;
  }
}
@media (max-width: 563px){
  .profile {
     margin-left: 300px;
  }
}
@media (max-width: 500px){
  .profile {
     margin-left: 250px;
  }
}
@media (max-width: 450px){
  .profile {
     margin-left: 200px;
  }
}
@media (max-width: 396px){
  .profile {
     margin-left: 150px;
  }
}
@media (max-width: 345px){
  .profile {
     margin-left: 100px;
  }
}

@media (max-width: 620px){
  .map {
    width: 400px;
    height: 350px;
    margin:30px 30px 40px 0;
 }
}
@media (max-width: 570px){
  .map {
    width: 300px;
    height: 300px;
    margin: 50px 20px 70px 10px;
 }
 .info-icons {
  margin-right: 10px;
 }
}
@media (max-width: 491px){
  .info-icons{
    position: absolute;
  }
  .info p{
    display: none;
  }
   .map {
    width: 340px;
    height: 300px;
    margin: 50px 0 70px 80px;
 }
  .contact{
    position: relative;
  }
}
@media (max-width: 424px){
  .map {
    width: 300px;
    height: 340px;
    margin: 50px 0 30px 80px;
 }
}
@media (max-width: 424px){
  .map {
    width: 250px;
    height: 340px;
    margin: 50px 0 30px 100px;
 }
  .info-icons {
  margin-left: 20px;
 }
}
@media (max-width: 360px){
  .map {
    width: 200px;
    height: 340px;
    margin: 50px 0 30px 140px;
 }
  .info-icons {
  margin-left: 10px;
 }
}
@media (max-width: 342px){
  .map {
    width: 150px;
    height: 340px;
    margin: 50px 0 30px 170px;
 }
  .info-icons {
  margin-left: 5px;
 } 
}
@media (max-width: 665px){
  .social{
    margin-left: 35%;
  }
}
@media (max-width: 450px){
  .social{
    margin-left: 25%;
  }
}

/*responsive for test page*/
@media (max-width: 997px){
  .container-bull{
     padding-right: 0px;
  }
}
@media(max-width: 888px){
  .container-bull{
    padding-left: 50px;
  }
}
@media (max-width: 945px){
    .test-container {
    flex-direction: column;
    padding-left: 40px;
  }
  .test-container p{
    margin:0;
  }
}
/*@media (max-width: 887px) {
  .bullet{
  width: 250px;
  }
  .bullet-active{
  width: 250px;
  }
}

 .bullet {
  margin: 50px 70px ;
 }
 .bullet-active {
  margin: 50px 70px ;
 }
}*/
@media (max-width: 710px){
   .test-container {
    display: none;
  }
  /*.question-space{
    margin-left: 40px;
  }*/
}
/*@media (max-width: 630px){
  .bullet{
    margin:20px;
  }
  .bullet-active{
    margin:20px;
  }
}*/
@media(max-width: 663px){
   .container-bull{
    padding-left: 0;
  }
}
@media(max-width: 616px){
  .answer-space{
    padding: 10px 0 30px 0;
  }
}
@media (max-width: 609px){
  .bullet{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .bullet-active{
   margin-top: 20px;
    margin-bottom: 0;
  }
  .answer-container{
    flex-direction: column;
  }
  .answer-space{
    padding-left: 70px;
  }
}

@media (max-width: 500px){
  h4 {
    font-size: 25px;
  }
  .question-space img{
    width: 250px;
  }
}
@media(max-width: 440px){
   .answer-space{
    padding-left: 50px;
  }
}
@media (max-width: 400px){
  .answer-space{
    padding-left: 30px;
  }
}
@media(max-width: 414px){
  .answer-space{
    padding:10px 0 20px 30px;
  }
}
@media(max-width: 382px){
   .answer-space{
    padding:10px 0 0 20px;
  }
}
@media(max-width: 375px){
  .answer-space{
    padding: 10px 0 20px 10px;
  }
}
  @media(max-width: 366px){
    .bullet{
      margin-left: 0;
    }
     .bullet-active{
      margin-left: 0;
    }
  }
@media(max-width: 340px){
  .question-space{
    margin-top: 20px
  }
  h4{
    font-size: 20px;
  }
  .answer-space{
    padding-bottom: 80px;
    padding-left: 10px;
  }
}
@media(max-width: 320px){
  .answer-space{
    padding:0 0 90px 10px;
  }
}



/*profile section*/
@media(max-width: 1125px){
  .info-board {
    padding-left: 90px;
  }
  .space-title{
    padding-left: 90px;
  }
}
@media(max-width: 1100px){
  .info-board {
    padding-left: 70px;
  }
  .space-title{
    padding-left: 70px;
  }
}
@media (max-width: 1087px){
  .info-box{
    width: 250px;
  }
}
@media(max-width: 990px){
  .profile-info {
    margin-left: 30px;
    margin-right: 30px;
  }
  .info-board{
    padding-left: 30px;
  }
  .space-title{
    padding-left: 30px;
  }
}
@media(max-width: 901px){
  .profile-info {
    margin-left: 10px;
    margin-right: 10px;
    height: 130px;
    width: 200px;
  }
}
@media(max-width: 830px) {
  .profile-content{
    display: none;
  }
  .info-space{
    padding-left: 100px;
  }
}
@media(max-width: 750px) {
  .info-space{
    padding-left: 50px;
  }
  .space-title{
    padding-top: 30px;
  }
  .info-board{
    padding-bottom: 40px;
    padding-top: 70px;
    margin-top: 0;
  }
}
@media(max-width: 670px){
   .info-space{
    padding-left: 20px;
  }
}
@media(max-width: 640px){
  .info-box{
    width: 200px;
  }
}
@media(max-width: 640px){
  .info-box{
    width: 180px;
  }
}
@media(max-width: 500px){
  .info-box{
    width: 180px;
  }
  .info-box:last-child{
    margin-left: 20px;
  }
}
@media(max-width: 440px){
  .info-board{
    padding-left: 15px;
  }
}
@media(max-width: 420px){
  .info-board{
    padding-left: 0;
  }
}
@media(max-width: 414px){
  .info-board{
      padding-bottom: 40px;
    }
}
@media(max-width: 410px){
  .info-space{
    padding-left: 10px;
  }
}
@media(max-width: 398px){
  .info-box{
    width: 150px;
  }
  .text-information{
    font-size: 16px;
  }
  .numbers{
    font-size: 20px;
  }
  .number{
    font-size: 20px;
  }
  .info-board{
    padding-left: 30px;
  }
}
@media(max-width: 378px){
  .info-board{
    padding-left: 20px;
  }
}
@media(max-width: 360px){
  .info-board{
    padding-left: 10px;
  }
}
@media only screen and (max-width: 341px){
  .info-board{
    padding-bottom: 40px;
  }
  .info-box{
    width: 130px;
  }
}