html, body{
	width: 100%;
	height:  100%;
}
body {
	padding: 0 0 5% 0;
	/* overflow: hidden;*/
}


/*header content*/
header {
	position: fixed;
	z-index: 5;
	width: 100%;
	background-color: #F0EAF5;
	border-bottom:1px solid #707070;
	box-shadow: 0px -5px 15px 2px #5B139A;
}
.d-flex {
	display: flex;
	justify-content: space-between;
}
.container {
	max-width: 1098px;
    width: 100%;
    margin: 0 auto;
}
.logo {
	display: flex;
	justify-content: flex-start;
}
.nav-bar {
	display: flex;
	align-items: center;
}
.navigation {
	width: 350px;
	display: flex;
	align-content: center;
	justify-content: space-between;
	margin: 0 400px 0 0;
}
.nav-a a{
	font-size: 18px;
	font-family: BPG Nino Mtavruli; 
	color:#A0A2B1 ;
}
.nav-a a:hover {
	color: #000;
}
.nav-active a{
	font-size: 18px;
	font-family:  BPG Nino Mtavruli; 
	text-align: center;
	color:#5B139A;
}
.nav-a a:hover.nav-active{
	color:#5B139A;
}
.burger {
	display: none;
	cursor: pointer;
	width: 50px;
    height: 30px;
}
.profile {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

/*finished header elements*/

/*here is footer */
.footer{
	display: flex;
	background-color:  #370761;
	height: 67px;
}
.social {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 45%;
	margin-top: 15px;
}
.icon {
	color: #fff;
	margin-top: 15px;
	margin-right: 20px;
}
/*that's all*/

/*this is my contact-page*/
.contact {
	height: 590px;
	background-color:  #f3eef7;
}
.map {
	display: flex;
	justify-content: flex-end;
	align-items: center;
    width: 758px;
    height: 418px;
    margin-top: 100px;
}
.info-icons{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 116px;
	color: #000;
	margin-left: 10p}
.info-icons p {
	font-size: 16px;
}
.info-icons:first-child{
	margin-top: 100px;
}
.info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}


/* here is home-page sections*/
.section {
	position: relative;
    padding: 110px 0 0 0;
    background-color: #f3eef7;
}
.first-section {
	display: flex;
}
.main-title {
	   display: flex;
	   justify-content: flex-end;
	   align-items: flex-start;
	flex-direction: column;
	height: 230px;
}
h1{
	font-size: 50px;
	 font-family: 'BPG Ingiri Arial';
    line-height: 1.2;
    width: 480px;
}
.discription {
	width: 296px;
	margin-top: 50px;
	 font-family:BPG Ingiri Arial;
	 font-size: 16px;
	line-height: 1.2;
}
.topnav .search-container {
  display: flex;
  flex-wrap: nowrap;
    margin-left: 134px;
    max-width: 620px;
}
.topnav input[type=text] {
  margin-top: 8px;
  border-radius: 4px;
  float: left;
  height: 71px;
  width: 417px;
  font-size: 16px;
   font-family: 'BPG Ingiri Arial';
  padding: 15px 70px;
  box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
  border:none;
}
.topnav .search-container button {
  margin-top: 8px;
  color: #fff;
  background: #370761;
  height: 71px;
  width: 68px;
  padding: 14px 15px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
  border-radius: 4px;
}

.main-img {
 	width: auto !important; /*override the width below*/
  	width: 100%;
  	max-width: 740px;
  	float: left;
  	clear: both;
}

.sign-in {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content/Box */
.sign-in-modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	border-radius: 4px;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	/* Could be more or less, depending on screen size */
}

.sign-up {
	display: none;
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.sign-up-modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	border-radius: 4px;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.category-section{
	background-color: #f3eef7;
    display: flex;
}
.category-section2{
	background-color: #f3eef7;
    display: flex;
    padding-bottom: 37px;
}
.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 66px;
}
h3 {
    font-size: 36px;
     font-family: 'BPG Ingiri Arial';
    padding: 58px 0 0 0;
    color: #3F2654;
}
.box {
	display: flex;
    justify-content: space-around;
    align-items: center;
    width: 267px;
    height: 170px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
    border-radius: 4px;
    transition: all ease 0.4s;
}

.name2 {
    padding-right: 15px;
    font-size: 20px;
    font-family: "Helvetica-Light";
    color: #707070;
}
.up {
	color: #510891;
}
/*finished home-page*/
.slider {
	display: flex;
	justify-content: flex-end;
}

.buttons-container {
	width: 100%;
	display: flex;
	margin-top: 384px;
}

.buttons-container .button-signup, .button-signin {
	background-color: #510891;
     color: white;
      border-radius: 4px;
	  margin-left: 28px;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  opacity: 0.8;
	  width: 280px;
	}

.button-signup {
	margin-left: 10px;
}

/*.open-button:hover .section {
	opacity: 3;
}*/

/* The popup form - hidden by default */
.form-popup {
	max-width:50%;
	height: 588px;
	background-color: #fff;
   display: none;
  position:fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 4;
}

/* Add styles to the form container */
.form-container {
  max-width: 50%;
  padding: 10px;
  background-color: white;
  left: 50%;
  transform: translateX(50%);
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  font-size: 12px;
  font-family: 'BPG Ingiri Arial';
  margin: 5px 0 22px 0;
  border-radius: 4px;
  border: none;
  background: #f1f1f1;
}
h2{
	font-size: 35px;
	font-family: 'BPG Nino Mtavruli';
	color: #707070;
	padding: 20px 0 40px 0;
	text-align: center;
}
b {
	font-size: 16px;
	font-family: 'BPG Ingiri Arial';
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #510891;
  color: white;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/*test*/
.test-section {
	 padding: 100px 0 0 0;
    background-color: #f3eef7;
    height: 65%;
}
.test {
	background-color: #fff;
    max-width: 1055px;
    border-radius: 4px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.test-container {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 0 0 139px;
}
.test-container p {
	margin: 20px 0 0 30px;
    font-size: 30px;
}
h4 {
    font-size: 25px;
    color: #510891;
}
.question-space {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin: 90px 0 30px 70px;
	height: 50%;
}
.question-space img{
	margin-top: 30px;
}
.answer-space {
	background-color: #f3eef7;
	height: 45%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.answer-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
	height: 157px;
}
.answer-container:second-child {
	margin-right: 90px;
}
.bullet {
    width: 350px;
	height: 45px;
	margin-bottom: 50px;
	background-color:#FFFFFF;
	box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
	box-shadow: 20%;
	border-radius: 4px;
	margin: 50px 86px ;
}
.answers {
	font-size: 14px;
	color: #370761;
	height: 45px;
	text-align: center;
	padding-top: 13px;
	cursor: pointer;
}
.answer-active {
	color: #fff;
	height: 45px;
	font-size: 14px;
	text-align: center;
	padding-top: 13px;
	cursor: pointer;
}
.bullet-active {
	 width: 350px;
	height: 45px;
	margin-bottom: 50px;
	box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
	border-radius: 4px;
	margin: 50px 86px;
	background-color: #5B139A; 
}


/*profile*/
.artboard {
	height: 100%;
	width: 100%;
	background-color: #f3eef7;
	display: flex;
	flex-direction: row;
	padding-top: 70px;
}
.profile-content {
	width: 30%;
	background-color:#212A3E;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.info-space {
	height: 520px;
	width: 70%;
	background-color: #f3eef7;
	display: flex;
}
.space-title {
	color: #707070;
	font-family: 'BPG Nino Mtavruli';
	font-size: 25px;
	padding: 50px 0 0 120px;
	white-space: nowrap;
	height: 50px;
}
.info-box {
	height: 150px;
	width: 300px;
	background-color: #E4C5FF;
	border-radius: 4px;
}
.info-title {
	height: 50px;
	width: 0;
}
.info-board {
	display: flex;
	justify-content:flex-start;
	align-items:flex-end;
	flex-direction: column;
	height: 389px;
	width: 635px;
	margin-top: 110px;
    margin-left: 165px;

}
.board {
	display: flex;
	flex-direction: row;
}
.info-box:last-child {
	margin-left: 80px;
	margin-bottom: 50px;
}
.text-information {
	color: #707070;
	font-size: 20px;
	font-family: 'BPG Ingiri Arial';
	text-align: center;
}
.numbers {
	color: #207A5B;
	font-size: 25px;
	text-align: center;
	margin-top: 50px;
}
.number{
	color: #7A1313;
	font-size: 25px;
	text-align: center;
	margin-top: 50px;
}
.profile-space{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.user{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
.profile-info{
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
	height: 150px;
	width: 232px;
}
.components {
	display: flex;
    justify-content: center;
    align-items: flex-start;
}
.profile-info p{
	color: #fff;
	font-size: 16px;
	 font-family: 'BPG Ingiri Arial';
	 margin-left: 20px;
}
.profile-info a{
	color: #fff;
}
.components-active{
	display: flex;
    justify-content: center;
    align-items: flex-start;
	border-bottom: 1px solid #707070;
	padding-bottom: 10px
}
.user {
	border-bottom: 1px solid #707070;
    padding-bottom: 20px;
}

#user-image {
	width: 88px;
    height: 88px;
    border-radius: 44px;
    margin-bottom: 10px;
}
#name{
	color: #fff;
	font-size: 20px;
}